@using Markdig
@inherits BaseComponent<Article.Model>
<div class="article-page">
    <div class="banner">
        <div class="container">
            <h1>@Props.Article.Title</h1>

            <div class="article-meta">
                <a href="/profile/@Props.Article.Author.Username">
                    <img src="@Props.Article.Author.Image"/>
                </a>
                <div class="info">
                    <a href="/profile/@Props.Article.Author.Username" class="author">@Props.Article.Author.Username</a>
                    <span class="date">@Props.Article.UpdatedAt.ToString("MMMM d, yyyy")</span>
                </div>
                @if (Props.IsAuthor)
                {
                    <button class="btn btn-sm btn-outline-secondary">
                        <i class="ion-edit"></i> Edit Article
                    </button>
                    <button class="btn btn-sm btn-outline-danger">
                        <i class="ion-trash-a"></i> Delete Article
                    </button>
                }
                else
                {
                    <button class="btn btn-sm btn-outline-secondary">
                        <i class="ion-plus-round"></i>
                        &nbsp; Follow @Props.Article.Author.Username
                    </button>

                    <button class="btn btn-sm btn-outline-primary">
                        <i class="ion-heart"></i>
                        &nbsp; Favorite Article <span class="counter">(@Props.Article.FavoritesCount)</span>
                    </button>
                }

            </div>
        </div>
    </div>

    <div class="container page">
        <div class="row article-content">
            <div class="col-md-12">
                @((MarkupString) GetHtml(Props.Article.Description))
                @((MarkupString) GetHtml(Props.Article.Body))
                <ul class="tag-list">
                    @foreach (var tag in Props.Article.TagList)
                    {
                        <li class="tag-default tag-pill tag-outline">@tag</li>
                    }
                </ul>
            </div>
        </div>

        <hr/>

    </div>
</div>

@code {

    public record Model(bool IsAuthenticated, ServiceClient.Article Article, bool IsAuthor) : BaseComponentProps;

    private static string GetHtml(string markdown)
    {
        return Markdown.ToHtml(markdown);
    }

}