@inherits BaseComponent<Articles.Model>
<div>
    <div class="articles-toggle" id="feed-toggle">
        <ul class="nav nav-pills outline-active">
            @if (Props.Filter.Author is not null || Props.Filter.Favorited is not null)
            {
                <li class="nav-item">
                    <a class="nav-link @NavItemClassActive("myArticles")" href="/profile/?author=@Props.Filter.Favorited">My Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @NavItemClassActive("favoritedArticles")" href="/profile/?favorited=@Props.Filter.Author">Favorited Articles</a>
                </li>
            }
            else
            {
                @if (Props is {IsAuthenticated: true})
                {
                    <li class="nav-item">
                        <a class="nav-link @NavItemClassActive("myFeed")" href="/?page=1&myfeed=true">Your Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @NavItemClassActive("global")" href="/?page=1&myfeed=false">Global Feed</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link @NavItemClassActive("global")" href="/?page=1">Global Feed</a>
                    </li>
                }

                @if (Props.Filter.Tag != null)
                {
                    <li class="nav-item">
                        <a class="nav-link @NavItemClassActive("tag")">#@Props.Filter.Tag</a>
                    </li>
                }
            }

        </ul>
    </div>
    <div id="articles"
         hx-get="/articles/list@(Props.Filter.ToQueryString())"
         hx-trigger="load">
        Loading articles...
    </div>

</div>


@code {

    public record Model(bool IsAuthenticated, ArticlesFilter Filter) : BaseComponentProps;

    private string NavItemClassActive(string item)
    {
        return item switch
        {
            "myFeed" => Props.Filter.MyFeed == true ? "active" : "",
            "tag" => Props.Filter.Tag != null ? "active" : "",
            "global" => Props.Filter.MyFeed != true && Props.Filter.Tag == null ? "active" : "",
            "myArticles" => Props.Filter.Author is not null ? "active" : "",
            "favoritedArticles" => Props.Filter.Favorited is not null ? "active" : "",
            _ => ""
        };
    }

}