@inherits BaseComponent<ArticlesComponent.Input>
<div>
    <div class="articles-toggle" id="feed-toggle">
        <ul class="nav nav-pills outline-active">
            @if (Data.Filter.Author is not null || Data.Filter.Favorited is not null)
            {
                <li class="nav-item">
                    <a class="nav-link @NavItemClassActive("myArticles")" href="/profile/?author=@Data.Filter.Favorited">My
                        Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @NavItemClassActive("favoritedArticles")"
                        href="/profile/?favorited=@Data.Filter.Author">Favorited Articles</a>
                </li>
            }
            else
            {
                @if (Data is { IsAuthenticated: true })
                {
                    <li class="nav-item">
                        <a class="nav-link @NavItemClassActive("myFeed")" href="/?page=1&myfeed=true">Your Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @NavItemClassActive("global")" href="/?page=1&myfeed=false">Global Feed</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link @NavItemClassActive("global")" href="/?page=1">Global Feed</a>
                    </li>
                }

                @if (Data.Filter.Tag != null)
                {
                    <li class="nav-item">
                        <a class="nav-link @NavItemClassActive("tag")">#@Data.Filter.Tag</a>
                    </li>
                }
            }

        </ul>
    </div>
    <div id="articles" hx-get="/articles/list@(Data.Filter.ToQueryString())" hx-trigger="load">
        Loading articles...
    </div>

</div>


@code {

    public record Input(bool IsAuthenticated, ArticlesFilter Filter);

    private string NavItemClassActive(string item)
    {
        return item switch
        {
            "myFeed" => Data.Filter.MyFeed == true ? "active" : "",
            "tag" => Data.Filter.Tag != null ? "active" : "",
            "global" => Data.Filter.MyFeed != true && Data.Filter.Tag == null ? "active" : "",
            "myArticles" => Data.Filter.Author is not null ? "active" : "",
            "favoritedArticles" => Data.Filter.Favorited is not null ? "active" : "",
            _ => ""
        };
    }

}